*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body
{
    font-size: 16px;
     font-family: 'Open Sans',serif;
    color: #fff;
    margin: 0;
}

header
{
    background-color: #FA8BFF;
background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);

    background-size: cover;
    background-attachment: fixed;
/*    height: 100%;*/
}


/*==============================================
        Navbar
===============================================*/
nav
{
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    background-color: none;
    position: fixed; 
    width: 100%;
    z-index: 100;
    top: 0;
}

.nav-transparent
{
    background-color:none; 
}
.nav-colored
{
    background-color: ;
}

nav ul li
{
    list-style: none;
    font-size: 1.2em;
    padding: 1em;
}

nav ul li a
{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

nav ul.logo
{
    flex-grow: 1;
    
}

.logo-main
{
    height: 80px;
    width: 80px;
}

nav ul.logo li
{
    margin-left: 2em;
}

nav ul.nav_bar
{
    display: flex;
    flex-grow: 2;
    justify-content: flex-end;
}


nav ul.nav_bar li
{
    margin-right: 1em;
    padding-bottom: 10px
}

nav ul.nav_bar li::after
{
    content: " ";
    background-color: white;
    width: 0;
    height: 5px;
    display: block;
    border-radius: 1px;
    transition: 1s;	
    margin: 0 auto;
}

ul.nav_bar li:hover::after
{
    width: 100%;
} 


/* Information */


.info
{
    width: 100%;
    margin: 0 auto;   
    margin-top: 5em;
    text-align: center;
/*    box-shadow: 5px 5px 5px black;*/
    padding: 2em;
    transition: .5s;
}


.info:hover
{
    box-shadow: 5px 5px 10px black;
}

.info h2.info_head
{
    font-size: 3em;
    padding: .6em;
}

.info_details h3.info_details_head
{
    width: 30em;
    margin: 0 auto;
    padding: .6em;
    font-size: 2em;
}

.info_details h3.info_details_head::after
{
    content: '';
    height: 5px;
    width: 30%;
    margin: 0 auto;
    display: block;
    background-color: white;
}

.info_para
{
    width: 70%;
    font-size: 1.2em;
    padding: 1.2em;
    margin: 0 auto;
    margin-bottom: 2em;
}


.download_div
{
    margin-bottom: 2em;    
}


.info_details a.download
{
    text-decoration: none;
    padding: 1em 4em 1em 4em;
    border: 2px solid black;
    background-color: black;
    color: white;
    border-radius: 25px;
    animation: strech 1s linear infinite;
}

/*==================
  Keyframe animations
====================*/


@keyframes strech
{
    0%
    {
        transform:scaleY(1);
    }
    30%
    {
        transform:scaleY(1.1);
    }
    60%
    {
        transform: scaleY(.8);
    }
    100%
    {
        transform:scaleY(1);
    }
}



.images
{
    overflow: hidden;
}

.images-1
{
    margin: 0 auto;
    overflow: hidden;
    height: 20em;
    width: 70%;
    margin: 0 auto;
/*    background-color: black;*/
    margin-bottom: 4em;
    border-radius: 10px;
    display: flex;
}

.images img
{
    flex-grow: 1;
    cursor: pointer;
    opacity: 1;
/*    padding: .4em;*/
    height: 15em;
/*    width: 40em;*/
    width: ;
/*    color: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));*/
    transition: .7s;
}

.images .screen_para
{
    flex-grow: 1;
    padding: 4em 4em 1em 4em;
    text-align: center;
    font-size: 1em;
}

.images img:hover
{
        opacity: 1;
        transform: scale(1.2);
}

/*========================================
        footer
===========================================*/


footer
{
    margin-top: 2em;
    background-color: #777;
    padding: 2em;    
}


.footer_header
{
    color: black;    
    text-align: center;
    margin-bottom: 1em;
}


.footer_nav
{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
    list-style: none;
}


.footer_nav li
{
    flex-grow: 1;
    text-align: center;
}


.footer_nav li a
{
    color: white;
    text-decoration: none;
}


h3.social_head
{
    color: white;
    text-align: center;
    margin-bottom: 1em;
}


.social_link
{
    display: flex;
    width: 30%;
    margin: 0 auto;
    list-style: none;
}


.social_link li
{
    flex-grow: 1;
    text-align: center;
}


.social_link li a
{
    text-decoration: none;
    color: white;
}


/*=====================================
Responsive styles
======================================*/

@media (max-width:731px)
{
    html,body
    {
        font-size: 12px;
    }
    .nav
    {
        margin-top: -3em;
    }
    .info
    {
        margin-top: 1em;
    }
}

@media (max-width:531px)
{
    html,body
    {
        font-size: 10px;
    }
}


@media (max-width:438px)
{
    html,body
    {
        font-size: 9px;
    }
}



@media (max-width:420px)
{
    html,body
    {
        font-size: 7px;
    }
}















